@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#Shadow{
  box-shadow: 0 4px 15px 0 #fca79a, 0 6px 20px 0 #fca79a;
}

.active{
  border-bottom: solid 2px black;
}

.nav-link:not(.active)::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .4s;
}

.nav-link:not(.active):hover::after {
  width: 100%;
  /* transition: width .4s; */
}
@keyframes animate {
  0% {
      left: 0;
  }

  50% {
      left: 100%;
  }

  0% {
      left: 0;
  }
}

#Description{
  line-height: 20px;
}